body {
	background: #222;
	color: #eee;
	font-family: sans-serif;
}
.app-holder {
  align-items: center;
  justify-content: center;
}
#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.part-holder {
    display: flex;
    flex-direction: column;
    width: 240px;
    background: #5d5d5d;
    border-radius: 5px;
    overflow: hidden;
	color: black;
	margin: 5px;
}
.part-holder > span {
	padding: 5px;
	color: black;
	text-align: center;
}
button {
  background-color: #2872b1; 
  border: none;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin: 5px;
}
button.active {
	border: 2px solid #00eaff;
	font-weight: bold;
	margin: 3px;
}
button:hover {
	background-color: #225683;
}

#fdinfo {
    background-color: rgba(255, 0, 0, 0.2);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70%;
    right: 0;
    left: 0;
    margin: auto;
    width: 580px;
    padding: 5px;
    display: flex;
    border: 2px dotted #ff2f2f;
    transition: opacity ease-in-out 200ms, top ease-in-out 150ms;
}
#filedropper.error {
	color: #ff2f2fe0 !important;
	border-color: #ff2f2fe0 !important;
}
#filedropper.error > code {
	color: red;
}
#fdinfo.error {
	animation: shake 0.3s;
	animation-iteration-count: 2;
}
@keyframes shake {
 0% { transform: translateX(0) }
 25% { transform: translateX(5px) }
 50% { transform: translateX(-5px) }
 75% { transform: translateX(5px) }
 100% { transform: translateX(0) }
}