#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
}

.dataform-input {
	width: 100%;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	transition: opacity ease-in-out 300ms;
}
#app-tabs .car-tab {
	width: clamp(120px, 14vw, 200px);
	text-wrap: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#fdinfo + .form {
	height: 40%;
}
#fdinfo + .form, #fdinfo + .form * {
	transition: color ease-in-out 300ms, border-color ease-in-out 300ms
}

#fdinfo.error + .form {
	border-color: #ff2f2fe0 !important;
}
#fdinfo {
	opactiy: 0;
}
#fdinfo.error {
	opacity: 1;
	top: calc(70% + 50px);
}

.dataform-input .form {
	min-height: 40%;
    width: 550px;
    position: absolute;
    top: 30%;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #efefef;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.dataform-input > .form {
    background-color: #242424;
    padding: 20px;
    border: 1px solid #888;
	box-shadow: 2px 2px 9px 1px rgba(0, 0, 0, 0.6);
}

.dataform-input {
	overflow: hidden !important;
    display: none;
    position: fixed;
	z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}

#filedropper {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font: 20pt bold;
    color: #bbb;
    font-family: "Raleway", Arial, sans-serif;
}
#filedropper:hover {
	border: 2px solid #bbb;
}

.draggable-table {
	position: absolute;
	top: 0;
	width: 75%;
	max-width: 850px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 5px;
	border: 1px solid #767676;
	border-spacing: inherit;
}

.draggable-table__drag {
    font-size: .95em;
    font-weight: lighter;
    text-transform: capitalize;    
    position: absolute;
    width: 100%; 
    border: 1px solid #f1f1f1;
	border-radius: 5px;
    z-index: 10;
    cursor: grabbing;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.05);
            box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.05); 
  
    opacity: 1;
	background-color: #3c3c3cd6 !important;
}  

thead > th {
    height: 25px;
    font-weight: bold;
    text-transform: capitalize;
    padding: 10px;
    user-select: none;
}
thead > tr > th:first-child {
    height: 25px;
    font-weight: bold;
    text-align: left;
    padding: 10px;
}
tbody > tr {
	cursor: grabbing;
}
  
tbody > tr > td {
	font-size: .95em;
	font-weight: lighter;
	text-transform: capitalize;
	padding: 10px;
	user-select: none;
	border-top: 1px solid #767676;
	vertical-align: middle;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
  
tbody > tr:nth-child(even) {
	background-color: #323232;
}

tbody > tr:nth-child(odd) {
}    
  
tbody > tr.is-dragging {
	background: #2872b1;
}    

tbody > tr.is-dragging > td {
	color: #ffe683;
}
tbody > tr {
	position: relative;
	z-index: 1;
}
tbody > tr:after {
	width: 100%;
	height: 100%;
	left: 0;
	position: absolute;
	z-index: -1;
}
.download-button {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 6;
}
.download-button > button {
	font-size: 18px;
	font-weight: bold;	
}
#app-tabs {
	position: fixed;
	left: 0;
	top: 0;
	transform: translateY(calc(-100% + 10px));
	padding-top: 5px;
	background: #2d2c2c;
	z-index: 1;
	width: 90%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 5;
	padding: 0 5% 5px 5%;
	border-bottom: 2px solid #2872b1;
	transition: transform 0.2s ease-in-out;
}
#app-tabs:hover {
	transform: none;
}
#app-tabs > .indicator {
    position: absolute;
    top: 100%;
    left: 5px;
    background: #2d2c2c;
    border-radius: 0 0 5px 5px;
    padding: 8px 18px;
    border: 2px solid #2872b1;
    border-top: none;
    font-weight: bold;
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
}
#app-tabs:hover > .indicator {
	opacity: 0;
}
#app-body {
    position: relative;
    width: 100%;
    margin-bottom: 51px;
}
#app-tools {
	position: sticky;
	margin-top: -12px;
	top: 14px;
	left: 100%;
	padding: 5px;
	background: #323232;
	border-radius: 5px 0px 0px 5px;
	z-index: 4;
	display: flex;
	flex-direction: column;
	border: 1px solid #707070;
	border-right-width: 0px;
	transition: border-radius 150ms;
}
#app-tools > div {
	padding-left: 5px;
	border-radius: 5px;
	margin: 1px;
	display: inline-grid;
	align-items: center;
	grid-template-columns: 122px 34px 60px;
	/* grid-template-rows: auto; */
	/* grid-auto-rows: max-content; */
}
#car-table input {
	padding: 0;
	text-align: center;
	background: #00000052;
	color: #eee;
	border-radius: 5px;
	width: 92px;
	border: 1px #000000a6 inset;
	height: 25px;
	font-size: 1em;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
#filedropper > code {
    padding: 0px 6px;
    background: #00000040;
    border-radius: 5px;
    margin: 5px;
    border: 2px inset #00000054;
	color: whitesmoke;
}
#filedropper {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.assembly-info {
	font-size: 16px;
}
.assembly-info > code {
	background: #00000059;
	border-radius: 5px;
	padding: 2px 3px;
	border-style: inset;
	border-color: #00000029;
	margin: 3px;
	margin-right: 0px;
	text-align: center;
	border-width: 1px;
}
#app {
	transition: opacity 150ms ease-in-out;
	width: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	justify-content: start;
	padding-top: 25px;
}
#app-tools.fixed {
	position: fixed;
	right: 0;
	left: unset;
	top: 26px;
	
}
@media screen and (min-width: 1350px) {
	#app-tools, #app-tools.fixed {
		left: min(85%, calc(430px + 50%));
		right: unset;
		border-radius: 5px;
		border-right-width: 1px;
		transition: border-radius 250ms;
	}
}
@media screen and (min-width: 1200px) {
	.download-button {
		left: min(90%, calc(430px + 50%));
		right: unset;
	}
}