.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 500; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
   /* Fallback color */
  background-color: rgb(0 0 0 / 70%); /* Black w/ opacity */
}

.modal-content {
  background-color: #222;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  position: relative;
  border-radius: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 5;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.quat, .vec {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}
.quat > label, .vec > label {
	padding: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	position: relative;
}
.quat input, .vec input {
	margin-left: 8px;
	
	padding: 0;
	text-align: center;
	background: #00000052;
	color: #eee;
	border-radius: 5px;
	width: 120px;
	border: 1px #000000a6 inset;
	height: 25px;
	font-size: 1em;
}
#modal-part {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 8px;
	margin-bottom: 30px;
}

.spinner {
	position: relative;
	color: lightgray;
	background: transparent;
	border: none;
	font-size: 2rem;
	padding: 0;
	display: block;
}

.spinner:hover {
	color: #2872b1;
}

.spinner:active {
	color: #225683
}

.spinner.up {
	transform: rotate(-90deg);
	bottom: 0;
	position: absolute;
	right: -16px;
}

.spinner.down {
	transform: rotate(-90deg);
	top: 0;
	position: absolute;
	right: -16px;
}
.custom-input > .spinner {
	background: transparent;
}
.modal-head {
    position: absolute;
    top: 8px;
    font-weight: 600;
    width: 100%;
    text-align: center;
}
.modal-head > img {
    height: 100px;
    position: absolute;
    top: -8px;
    left: 1px;
}
.modal-download-button {
    align-items: center;
    vertical-align: middle;
    display: flex;	
}
.modal-download-button > button {
	margin: auto;
    margin-top: 10px;
}

.modal-footer {
    position: absolute;
    bottom: 8px;
    font-weight: 600;
    width: 100%;
    text-align: center;
}